[submodule "app/lib/matoya"]
	path = app/lib/matoya
	url = https://github.com/Namaneo/libmatoya.git
[submodule "app/lib/zlib"]
	path = app/lib/zlib
	url = https://github.com/madler/zlib.git
[submodule "app/lib/retro"]
	path = app/lib/retro
	url = https://github.com/libretro/libretro-common.git
[submodule "app/cores/mgba"]
	path = app/cores/mgba
	url = https://github.com/libretro/mgba.git
[submodule "app/cores/melonds"]
	path = app/cores/melonds
	url = https://github.com/libretro/melonDS.git
[submodule "app/cores/genesis"]
	path = app/cores/genesis
	url = https://github.com/libretro/Genesis-Plus-GX.git
[submodule "app/cores/quicknes"]
	path = app/cores/quicknes
	url = https://github.com/libretro/QuickNES_Core.git
[submodule "app/cores/snes9x"]
	path = app/cores/snes9x
	url = https://github.com/libretro/snes9x
