/*
 * Global
 */
#root ion-card {
    margin: 16px;
}


/*
 * Recent
 */
#root .recent ion-list {
    padding: 0;
    background: transparent;
}

#root .recent ion-item {
    margin-left: -16px;
}

#root .recent img {
    width: 25%;
}

#root .recent ion-label {
    margin-left: 16px;
}


/*
 * Core
 */
#root .core {
	text-align: center;
	--overflow: hidden;
}

#root .core canvas {
	object-fit: contain;
	object-position: 50% 0;
	image-rendering: pixelated;
}

#root .core button {
	position: absolute;
    font-size: min(5vw, 5 * 10px);
	padding: 0;
	color: white;
    background: transparent;
    border: 2px solid white;
}

#root .core button:active {
	background: rgba(255, 255, 255, 0.1)
}

#root .core button.generic {
	width: min(12vw, 12 * 10px);
    height: min(12vw, 12 * 10px);
    border-radius: 50%;
}

#root .core button.arrow {
	width: min(12vw, 12 * 10px);
    height: min(12vw, 12 * 10px);
	border-radius: 10%;
}

#root .core button.shoulder {
	width: min(12vw, 12 * 10px);
    height: min(8vw, 8 * 10px);
    border-radius: 20%;
}

#root .core button.special {
	width: min(8vw, 8 * 10px);
    height: min(8vw, 8 * 10px);
    border-radius: 50%;
}

#root .core-settings ion-button {
	flex: 1;
	height: 80%;
}

/*
 * Systems
 */
#root .systems ion-card {
    text-align: center;
}

#root .systems img {
    display: inline-block;
    max-width: 80%;
    margin: 36px 8px 8px 8px;
}


/*
 * Games
 */
#root .games ion-card {
    display: flex;
    cursor: pointer
}

#root .games img {
    width: 25%;
}

#root .games ion-card-header {
    display: flex;
    align-items: center;
}


/*
 * Saves
 */
#root .saves ion-list {
    padding: 0;
    background: transparent;
}


/*
 * Cheats
 */
#root .cheats ion-list {
    padding: 0;
    background: transparent;
}


/*
 * Settings
 */
#root .settings ion-list {
    padding: 0;
    background: transparent;
}

#root .settings .version {
	text-align: center;
	opacity: 0.75;
    font-family: monospace;
    font-style: italic;
}

#root .settings ion-select {
    max-width: unset;
}

#root .settings ion-accordion ion-list ion-label {
    margin-left: 16px;
}

#root .settings ion-accordion ion-list ion-select {
    padding-left: 16px;
}


/*
 * Modals
 */
#root .modal ion-list {
    padding: 0;
}

#root .modal ion-label {
    min-width: 60px;
}

#root .modal ion-select {
    max-width: unset;
}

#root .modal ion-input {
    text-align: right;
}

#root .modal ion-textarea {
    font-family: monospace;
    text-align: right;
}
