/*
 * Global
 */
html, body {
	touch-action: none;
}


/*
 * Pages
 */
#root .page {
    align-items: center;
}

#root .page ion-content {
    max-width: 768px;
}

#root ion-content:not(.core) {
    overflow: auto;
    --overflow: hidden;
    --offset-bottom: auto !important;
	scrollbar-width: none;
}

#root ion-content::-webkit-scrollbar {
	display: none;
}

#root ion-card {
	margin: 12px 16px;
}


/*
 * Home
 */
#root .home ion-list {
    padding: 0;
    background: transparent;
}

#root .home ion-item {
	--padding-start: 0;
}

#root .home ion-label {
    margin-left: 16px;
}


/*
 * Core
 */
#root .core {
	text-align: center;
	--overflow: hidden;
}

#root .core canvas {
	object-fit: contain;
	object-position: 50% 0;
	image-rendering: pixelated;
}

#root .core .controls {
	position: absolute;
    inset: 0;
	padding-left: var(--ion-safe-area-left);
	padding-right: var(--ion-safe-area-right);
}

#root .core .controls > div {
	position: relative;
	width: 100%;
	height: 100%;
}

#root .core button {
	position: absolute;
	padding: 0;
	color: white;
    background: transparent;
    border: 2px solid white;
}

#root .core button:active {
	background: rgba(255, 255, 255, 0.1)
}

#root .core-settings {
	--width: 80%;
}

#root .core-settings ion-button {
	flex: 1;
	height: 80%;
}


/*
 * Systems
 */
#root .systems ion-card {
    text-align: center;
    cursor: pointer;
}


/*
 * Games
 */
#root .games {
	--background: var(--ion-background-color);
}

#root .games ion-card {
    display: flex;
    cursor: pointer;
}

#root .games ion-item {
    width: 100%;
	--padding-start: 0;
}

#root .games ion-label {
    margin-left: 16px;
}

#root .games ion-progress-bar {
    max-width: 50px;
}


/*
 * Saves
 */
#root .saves ion-list {
    padding: 0;
    background: transparent;
}


/*
 * Cheats
 */
#root .cheats ion-list {
    padding: 0;
    background: transparent;
}


/*
 * Modals
 */
#root .modal {
    --height: auto;
}

#root ion-modal.fullscreen {
	--width: 100%;
	--height: 100%;
	--border-radius: 0;
    --ion-background-color: unset;
    --ion-toolbar-background: unset;
    --ion-toolbar-border-color: unset;
}

#root .modal ion-list {
    padding-top: 16px;
    padding-bottom: 32px;
    background: var(--ion-color-light-shade);
}

#root .modal ion-item {
    margin-top: 8px;
	margin-bottom: 8px;
    --background: var(--ion-color-light-shade);
}

#root .modal ion-label {
    min-width: 60px;
}

#root .modal ion-select {
    max-width: unset;
}

#root .modal ion-input {
    text-align: right;
}

#root .modal textarea {
    font-family: monospace;
    text-align: right;
}

#root .modal ion-button {
	width: 100%;
    height: 100%;
}
