.recent-page {
	.game {
		text-decoration: none;

		.card {
			display: flex;
			justify-content: space-between;
			align-items: center;

			img {
				max-width: 25%;
			}
			.header {
				flex: 1;
			}
		}
	}
}
