.game {
    text-decoration: none;
}

.game .card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.game .card img {
    max-width: 25%;
}

.game .card .header {
    flex: 1;
}
